@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-width: 400px;
    scroll-behavior: smooth;
    height: 100vh;
    background: white;
}

#root{
    width: 100%;
    height: 100vh;
}

select{
    -webkit-appearance: none;
}

input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

input[type="date"]::-webkit-clear-button {
    z-index: 1;
}